body {
  overflow: hidden;
}

.typeing {
  opacity: 0;
}

.typeing.active {
  opacity: 1;
}

.MojiMoji {
  font-size: 40px;
}

#canvas {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.takusan {
  z-index: 10;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100%; /* 変更 */
}

.mb-2 {
  margin-bottom: 0rem !important;
}
