*{
    box-sizing: border-box;
    
    

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ecef;

    
    

  }
  
  header {
    background-color: #e3acae;
    color: #fff;
    padding: 20px;
    max-width: 2000px;
    margin: 0 auto;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .container {
    display: flex;
    margin: 20px;
    color: black;

  }


  main {
    flex: 3;
    margin-right: 20px;
    background-color: white;
    padding: 20px;
  }
  

  
  .sidebar-content {
    text-align: center;
  }
  
  footer {
    background-color: #e3acae;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2, h3 {
    margin-top: 0;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #e3acae;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
  }

  /*プロフィール*/

  aside {
    flex: 1;
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .profile img{
    border-radius: 50%;
    width: 150px; /* 必要に応じて適切なサイズに調整してください */
    height: 150px; /* 必要に応じて適切なサイズに調整してください */
  }

  .profile{
    text-align: center;
  }



  .Center{
    text-align: center;
    padding-left: 0px;
  }

/*ヘッダー画像*/

  .headerimg img{
	display: block;
	width: 100%;
	height: auto;
  }

  .headerimg{
    max-width: 2000px;
    margin: 0 auto;
  }

h1 a{
    color:white;
    text-decoration: none;
}

h2{
    border-bottom: double 6px #e3acae;/*線の種類 太さ 色*/
}

.date{
    text-align: right;
}

article{
    margin: 50px 30px;
}

p{
    line-height: 8;
    font-size: 17px;
}

